<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="4.1.0" targetFramework="net40" />
  <package id="iTextSharp" version="5.5.11" targetFramework="net40" />
  <package id="itextsharp.xmlworker" version="5.5.11" targetFramework="net40" />
  <package id="Jaguar.Reporting" version="1.0.0-rc3" targetFramework="net40" />
  <package id="Jaguar.Reporting.Csv" version="1.0.0-beta2" targetFramework="net40" />
  <package id="Jaguar.Reporting.Excel" version="1.0.0-beta3" targetFramework="net40" />
  <package id="Jaguar.Reporting.Html" version="1.0.0-alpha5" targetFramework="net40" />
  <package id="Jaguar.Reporting.Pdf" version="1.0.0-alpha2" targetFramework="net40" />
  <package id="mustache-sharp" version="0.2.10" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net40" />
</packages>